.nav{
    grid-area: n;
    background-color: lightgreen;
    flex-direction: column;
    padding: 20px;
}

.item a{
    color: #fff;
    text-decoration: none;
}

.item a.activeLink {
    color: green;
}