.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 15px;
    color: white;
}
.dialogsItems .active{
    color: greenyellow;

}

.dialog {

}

.messages {
    padding: 15px;
}

.messages .message {
    color: white;
}